header{
    /* background-image: url("../../assets/bg.png"); */
    background-repeat: no-repeat;
    background-image:
            linear-gradient(180deg,
              rgba(166, 119, 205, 0.726),
              rgba(28, 61, 87, 0.744)), url('../../assets/bg.png');
    background-size: cover;
}

small{
    color: var(--color-light);
    font-size: 10px;
}

.header-container{
    text-align: center;
    /* height: 100%; */
    position: relative;
    min-height: 100vh;
    /* padding: 50px 40px; */
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
}


/*=======buttons========*/
.buttons{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*=======socials========*/
.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: -3rem;
    bottom: 15rem;
}

.socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*=======MyPicture========*/
.header-container .logo{
    position: inherit;
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    user-select: none;
    background: linear-gradient(90deg, rgba(80, 109, 227, 0.583), transparent);
    border-radius: 14rem 0rem 0 10rem;
    overflow: hidden;
    padding: 2rem 2rem 2rem 2rem;
}

.header-container .logo .mypicture{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;
}

.header-container .logo .mypicture.active{
    animation: spin 8s linear 1s infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.header-container .logo .circle{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
    opacity: 0;
}

.header-container .logo .mypicture.active .circle{
    opacity: 1;
}

.header-container .logo .mypicture.active .circle:nth-child(1){
    background: url(../../assets/HTML.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translateY(-210%);
}
.header-container .logo .mypicture.active .circle:nth-child(2){
    background: url(../../assets/CSS.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translate(150%, -150%);
}
.header-container .logo .mypicture.active .circle:nth-child(3){
    background: url(../../assets/JavaScript.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translate(210%);
}
.header-container .logo .mypicture.active .circle:nth-child(4){
    background: url(../../assets/Angularjs.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translate(150%,150%);
}
.header-container .logo .mypicture.active .circle:nth-child(5){
    background: url(../../assets/Reactjs.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translateY(210%);
}
.header-container .logo .mypicture.active .circle:nth-child(6){
    background: url(../../assets/Nodejs.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translate(-150%,150%);
}
.header-container .logo .mypicture.active .circle:nth-child(7){
    background: url(../../assets/SQL.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translateX(-210%);
}
.header-container .logo .mypicture.active .circle:nth-child(8){
    background: url(../../assets/Bootstrap.png);
    background-size: cover;
    background-position: center;
    position:absolute;
    transform: translate(-150%, -150%);
}



.header-container img{
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid rgb(108, 161, 197);
    transform: translate(-200px);
    opacity: 0;
    animation: fade-in 1s ease 1 0.5s forwards;
}

@keyframes fade-in{
    to{
        transform: translate(0);
        opacity: 1;
    }
}







/*========Media Querries(Tab)========*/
@media screen and (max-width: 1024px){
    header{
        height: 68vh;
    }

}

/*========Media Querries(mobile)========*/
@media screen and (max-width: 600px){
    header{
        height: 105vh;
        /* width: auto; */
        /* background-image: none; */
    }
    html{

        overflow-x: hidden;
    }
    .socials{
        display: none;
        left: 0;
    }
    .header-container{
        display: grid;
        grid-template-columns: 1fr;
        /* display: none; */
        /* overflow-x: hidden; */
        /* margin: auto; */
    }
    .h1{
        font-size: 2.2rem;
        /* margin-left: -6rem; */

    }
    .buttons{
        /* justify-content:space-around; */
        /* gap: 0; */
    }
    .container{
        /* margin: 0 2rem; */
    }
    .header-container .logo{
        width: 310px;
        /* width: auto; */

        
        /* display: none; */
        /* padding: 10rem; */
        margin: auto;
        height: 350px;
        border-radius: 10rem 0rem 0 10rem;
    }
    .header-container .logo .circle{
        /* width: auto; */
        /* display: none; */
        height: 60px;
        width: 60px;
    }
    .header-container .logo .mypicture{
        width: 100px;
        height: 100px;
        /* display: none; */
    }
    .header-container img{
        height: 200px;
        width: 200px;
    }
    /* .header-container .logo .circle,
    .header-container .logo,
    .header-container .logo .mypicture{
        max-height:10%;
        max-width: 10%;
    } */
}




