header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header-container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*=======buttons========*/
.buttons{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*=======socials========*/
.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*=======MyPicture========*/
.mypicture{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% -11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    margin-left: 24rem;
}













// .header{
//     .text-zone{
//         position: absolute;
//         left: 10%;
//         top: 50%;
//         transform:translate(-50%);
//         width: 40%;
//         max-height: 90%;
//     }
//     h1{
//         color: #fff;
//         font-size: 53px;
//         margin: 0;
//         font-family: 'Coolvetica';
//         font-weight: 400;

//         &::before{
//             content: '<h1>';
//             font-family: 'La Belle Aurore';
//             color: #ffd700;
//             font-size: 18px;
//             position: absolute;
//             margin-top: -40px;
//             left: 15px;
//             opacity: 0.6;
//         }
//         &::after{
//             content: '<h1>';
//             font-family: 'La Belle Aurore';
//             color: #ffd700;
//             font-size: 18px;
//             position: absolute;
//             margin-top: 18px;
//             margin-left: 20px;
//             animation: fadeIn 1s 1.7s backwards;
//             opacity: 0.6;
//         }
//     }
// }
